@charset "UTF-8";

/* CSS reset */
article,aside,figure,footer,header,hgroup,menu,nav,section{display:block;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:inherit;}
img{color:transparent;font-size:0;border:0;vertical-align:middle;-ms-interpolation-mode:bicubic;}
abbr[title]{border-bottom:dotted 1px;}


html, body {
  width: 100%;
  min-height: 100%;
  color: #000;
  background-color: #5d5;
  border: 0;
  margin: 0;
  padding: 0;
  background-image: url("./snowscape.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: hsla(240, 100%, 97%, 1.0);

  font-family: "Times New Roman", "Times", serif;
}
/* default colors - set all colors when you set any */
:link { color: #0000EE; }
:visited { color: #551A8B; }


img {
  border-style: none;
}

.project {
  display: block;
  padding: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 1.33em;
  text-align: center;
  cursor: pointer;
  text-shadow: #fff 0 0 10px;
}
.project p, .project h2, .project h3 {
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    10px 0 15px #fff,
    -10px 0 15px #fff,
    20px 10px 20px #fff,
    -20px -10px 15px #fff,
    5px -5px 5px #fff,
    -5px 5px 5px #fff;
  background-color: #fff;
  border-radius: 45px;
}
.project:hover p, .project:hover h2, .project:hover h3,
.project:focus p, .project:focus h2, .project:focus h3 {
  box-shadow:
    30px 20px 20px #fff,
    -30px -20px 20px #fff,
    40px 0px 20px #fff,
    -40px 0px 20px #fff,
    30px -20px 20px #fff,
    -30px 20px 20px #fff;
}
#body a.project:hover, #body  a.project:focus {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow:
    0 0 10px 10px rgba(255, 255, 255, 0.8);
}
#body a.project:active {
  background-color: rgba(192, 192, 192, 0.8);
  box-shadow:
    0 0 10px 10px rgba(192, 192, 192, 0.8);
}
#head {
  text-align: center;
  xbackground-color: hsla(0, 100%, 95%, 0.5);
}
#head h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 0.83em 0 1em;
  box-sizing: border-box;
  height: 100px;
  background-image: linear-gradient(to bottom, hsla(240, 100%, 97%, 1.0) 0%, hsla(240, 100%, 97%, 0.9) 80%, hsla(240, 100%, 97%, 0.7) 86%, hsla(240, 100%, 97%, 0.4) 93%, transparent 100%);
  xbackground-image: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0.8) 100%);
  xbox-shadow:
    0 0 10px 10px rgba(255, 255, 255, 0.8);
}
#head p, #head h2 {
  display: none;
}
.projects {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 100px);
}
#swampland {
  xbackground-color: hsla(220, 100%, 90%, 0.9);
}
#sculpture {
  xbackground-color: hsla(120, 100%, 83%, 0.9);
}
.project {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 10000px) {
div.projects {
  margin-right: 700px;
  min-height: 456px;
}
#head {
  background-image: url("./Drive.jpg");
  height: 456px;
  width: 700px;
  float: right;
  position: relative;
}
#head p {
  display: block;
  position: absolute;
  top: 29px;
  left: 120px;
  margin: 0;
  font-size: 1.33em;
}
#head h1 {
  position: absolute;
  display: block;
  top: 76px;
  left: 30px;
  margin: 0;
  height: auto;
  font-size: 2em;
  font-weight: bold;
}
#head h2 {
  position: absolute;
  display: block;
  top: 143px;
  left: 50px;
  margin: 0;
  width: 300px;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}
}
#swampland {
  text-decoration: none;
}
#swampland h2 {
  text-decoration: underline;
}
#swampland h3, #swampland p {
  color: #000;
}
#webdesign {
  background-color: #fcc;
  display: none;
}
#sculpture img {
  display: none;
}



#swampland {
  xbackground-color: hsla(220, 100%, 90%, 0.9);
}
#sculpture {
  xbackground-color: hsla(120, 100%, 83%, 0.9);
}
#songs {
  xbackground-color: hsla(320, 100%, 90%, 0.9);
}
#pillager {
  xbackground-color: hsla(60, 100%, 77%, 0.9);
}
#idupree {
  xbackground-color: hsla(210, 50%, 87%, 0.9);
}
